// Import page-specific CSS files here.

.container {
  padding: 20px;
}

.nap-time {
  text-align: center;
}

h1 {
font-size: 30px;
text-align: center;
}
h2 {
  font-size: 20px;
}
.teacher_input {
  text-align: center;
}

