#dropdownMenuButtonChatroom {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

#dropdownMenuButtonChatroom:hover {
  background-color: #FF6804;
  border: 1px solid #FF6804;
}

#dropdown-messenger {
  width: 100%;
}

.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 60%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  position: relative;
  bottom:0;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.chat-message-container {
  padding: 5px;

  .messenger-avatar {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%
  }

  .other-user .message-content {
    padding: 7px;
    border: none;
    border-radius: 15px;
    background: rgb(200,200,200);
    color: $white;
  }

  .current-user .message-content {
    padding: 7px;
    border: none;
    border-radius: 15px;
    background: rgba(255, 103, 0, 0.6);
    color: $white;
  }

  & + .chat-message-container {
    margin-top: 10px;
  }
}


