.dropdown-event {
  width: 100%;
  // padding: 20px;
}

#dropdownMenuButton {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
  // padding: 20px;
  padding: 22px;
}

.calendar-view h1 {
font-size: 30px;
}

.calendar-view {
  margin: 0px;
}
