<div>
  <nav id="navbar">
      <% if action_name == "home" %>
          <a href="/" ><i class="fas fa-home fa-lg nav__link--active" ></i></a>
      <% else %>
          <a href="/" ><i class="fas fa-home fa-lg" ></i></a>
      <% end %>

      <% if user_signed_in? && current_user.admin == false %>
        <%= link_to class_pictures_path(current_user.kids.first.classe) do %>
          <% if controller_name == "pictures" %>
            <i class="fas fa-image fa-lg nav__link--active"></i>
          <% else %>
            <i class="fas fa-image fa-lg"></i>
          <% end %>
        <% end %>
      <% elsif user_signed_in? && current_user.admin?%>
        <%= link_to new_class_picture_path(current_user.classes.last) do %>
          <% if controller_name == "pictures" %>
            <i class="fas fa-image fa-lg nav__link--active"></i>
          <% else %>
            <i class="fas fa-image fa-lg"></i>
          <% end %>
        <% end %>
      <% end %>

      <% if controller_path == "chatrooms" || controller_path == "messages" %>
        <a href="/chatrooms"> <i class="fas fa-comment-dots fa-lg nav__link--active"></i> </a>
        <% else %>
          <a href="/chatrooms"> <i class="fas fa-comment-dots fa-lg"></i> </a>
      <% end %>

      <% if controller_path == "kids" || controller_path == "small_events" %>
        <a href="/kids"> <i class="fas fa-book fa-lg nav__link--active"></i> </a>
        <% else %>
          <a href="/kids"> <i class="fas fa-book fa-lg"></i> </a>
      <% end %>

      <% if user_signed_in? && current_user.admin == false %>
        <%= link_to class_events_path(current_user.kids.first.classe) do %>
          <% if controller_name == "events" %>
            <i class="fas fa-calendar fa-lg nav__link--active"></i>
          <% else %>
            <i class="fas fa-calendar fa-lg"></i>
          <% end %>
        <% end %>
      <% elsif user_signed_in? && current_user.admin?%>
        <%= link_to new_class_event_path(current_user.classes.last) do %>
          <% if controller_name == "events" %>
            <i class="fas fa-calendar fa-lg nav__link--active"></i>
          <% else %>
            <i class="fas fa-calendar fa-lg"></i>
          <% end %>
        <% end %>
      <% end %>
  </nav>
</div>
