<div class="container">
<h2>Together at School</h2>
<p></p>
</div>

<div class="container">



<div class="cards">
<div class="row">
  <div class="cards2" class="col-sm-6 mb-4" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Photos
  </div>

  <div class="cards2" class="col-sm-6 mb-4" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Messages
  </div>
  </div>

  <div class="card-category space" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Last Events News
  </div>
</div>
</div>
<br>
</div>