
<div class="container">
  <div class="row">

    <div class="logo">
      <%= image_tag "Logo2.png", class:"logo-class" %>
    </div>

    <div class="col-6">
      <div class="card-trip justify-content-between" id="card-calendar">
        <div class="centered"><i class="fas fa-calendar fa-lg"></i><h4><strong>Calendar</strong></h4></div>
          <div class="card-trip-content">
            <div class="calendar-box"><%= Date.today.day %> <%= Date.today.strftime("%b") %></div>
            <div class="calendar-box-description"> <p><strong>title</strong></p> <p>description</p> </div>
        </div>
      </div>
    </div>
    

    <div class="col-6">
      <div class="card-trip" id="image">
        <div class="centered"><i class="fas fa-image fa-lg"></i><h4><strong>Photos </strong> </h4> </div>
          <img src="https://cdn.pixabay.com/photo/2016/04/14/08/40/newborn-1328454_1280.jpg"/>
        </div>
      </div>
    </div>
  
  </div>

    <div class="col-12">
      <div class="card-trip d-flex flex-column justify-content-between" id="card-messages" >
        <div class="centered"><i class="fas fa-comment-dots fa-lg"></i><h4><strong>Last messages</strong></h4></div>
          <% current_user.messages.order("created_at").last(2).each do |message| %>
            <div class="notifications"> <p><%= message.content %></p> </div>
          <% end %>
      </div>
    </div>
    
</div>
