
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gallery</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

  <% @pictures.each do |picture| %>
    <% picture.photos.each do |photo| %>
      <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
      <%= cl_image_tag photo.key, crop: :fill, class:'img-fluid img-thumbnail' %>
      </a>
      </div>
    <% end %>
<% end %>

  </div>
</div>
