<%= render 'shared/gallery-cards' %>

<div class="container">
<div class="picture-form">
  <%= simple_form_for [ @classe, @picture ] do |f| %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false, class: "form-control-lg-file"  %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
</div>
