<div class="container">
<%= render 'shared/gallery-cards' %>
  <div class="picture-form">
  <%= simple_form_for [ @classe, @picture ] do |f| %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false, class: "form-control"  %>
    <%= f.button :submit, class: 'btn btn-primary', value: "Upload Photos" %>
  <% end %>
  </div>
</div>

