.card-trip {
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  // margin: 0px 15px 15px 15px ;
  margin-bottom: 15px;
  border-radius: 30px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding: 15px 20px;
}

#card-messages {
  background: rgba(255,217,206,0.6);
}

#card-calendar {
  background: rgba(80,162,167,0.6);
}

.notifications {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  height: 50px;
  border: smooth;
  border-radius: 30px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  background: white;
}

.calendar-box {
  height: 100px;
  width: 25%;
  text-align: center;
  font-size: 25px;
}

// .calendar-box p {
//   font-size: 25px;
// }

// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.centered {

  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  text-align: center;
}

.container h2 {
  text-align: center;
  margin-top: 25px;

}
body {
  background-color: white;
}
