.navbar a {
  color: #ff6700;
}

.navbar-toggler i {
  color: black;
}

#navbartop {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.page-container {
  margin-top: 0px;
}

.container {
  margin-top: 70px;
}

 .bg-light {
   color: white;
 }

.navbar-brand img {
  height: 50px;
  width: 50px;
}